{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "standard",
    "standard-jsx",
    "standard-react",
    "plugin:prettier/recommended",
    "plugin:json/recommended"
  ],
  "globals": {
		"document": true,
		"window": true
  },
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": ["src/*/.styles.{js,jsx}"],
      "rules": {
        "no-unused-vars": "off",
        "react/prop-types": "off"
      }
    }
  ],
  "plugins": ["prettier"],
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "no-unused-vars": ["error", { "args": "after-used",  "argsIgnorePattern": "^_" , "ignoreRestSiblings": false, "vars": "all" }],
    "prettier/prettier": ["error", { "endOfLine":"auto" }],
    "quote-props": "off",
    "space-before-function-paren": "off"
  }
}